<div id="room" class="bg-faded">
  <div class="roomTitle">
    <h2 class="bg-faded pl-4 pt-3">Global</h2>
  </div>
  <div id="content" class=" pl-4 pr-4">
      <div *ngFor="let msg of msgs" class="mb-2 msg" [ngClass]="{'myMsg': msg.name == 'Én'}">
        <div class="card-block p-3">
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="msg.name != 'Én'">{{msg.name}}</h6>
          {{msg.msg}}
        </div>
      </div>
    </div>
  <div id="input" class="w-100 d-flex justify-content-around align-items-center">
    <input type="text" class="form-control w-75" id="exampleInputEmail1" placeholder="Enter message..">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary">Send</button>
      <button type="button" class="btn btn-outline-primary">Send with image</button>
    </div>
  </div>
</div>