<div id="room" class="bg-faded">
  <div class="roomTitle" *ngIf="room">
    <h2 class="bg-faded pl-4 pt-3">{{room.name}}</h2>
  </div>
  <div id="content" class=" pl-4 pr-4">
      <div *ngFor="let msg of msgs" class="mb-2 msg" [ngClass]="{'myMsg': msg.senderId == userId}">
        <div class="card-block p-3">
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="msg.senderId != userId">{{msg.senderName}}</h6>
          {{msg.content}}
        </div>
      </div>
    </div>
  <div id="input" class="w-100">
    <form class="d-flex justify-content-around align-items-center">
      <input type="text" class="form-control w-75" [(ngModel)]="currentMessage" [ngModelOptions]="{standalone: true}" placeholder="Enter message..">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-outline-primary" (click)="sendMessage()">Send</button>
      </div>
    </form>
  </div>
</div>
