div {
  transition: margin 0.5s;
}

div#sideNav {
  float: left;
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  margin-left: calc(-1*25vw);
}

#sideContent {
  max-width: calc(15vw - 15px);
  margin: 0;
  padding:0;
}

.navVisible {
  margin-left: 0 !important;
}

.toggler {
  height: 75px;
  width: 50px;
  margin: calc(50vh - 37.5px) 0 0 0;
  z-index: 1000;
  cursor: pointer;
}

#togglerFirst {
  margin-left: -35px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  position: fixed;
}

#togglerSecond {
  margin-left: calc(15vw - 15px);
  position: fixed;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding: 0;
  z-index: 10;
}

#togglerFirst.hidden {
  margin-left: -50px;
}
#togglerSecond.hidden {
  margin-left: calc(15vw + 50px);
}
